Social_Media_Flow___GHL_Blueprint.json
{
  "name": "Social Media Flow - GHL Blueprint",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        300,
        60
      ],
      "id": "28fb6075-8a83-46db-8056-053c0594d1cf",
      "name": "WhatsApp Trigger",
      "webhookId": "16d7e367-9930-412f-9321-41a1f4d3e707",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "gI7HmfgnVgVR5tP4",
          "name": "WA GHL Content Creator"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a world-class executive assistant helping users request AI-generated images. Your task is to evaluate their message and return a structured JSON response.\n\nTwo things are required to proceed:\n1. A clear description of what the image should visually show  \n2. Any text they want on the image (optional but should be confirmed)\n\n---\n\nIf the user provides enough detail:\nRespond in JSON like this:\n{\n  \"ready\": true,\n  \"image_description\": \"A cozy cabin in a snowy forest with warm lights glowing from the windows\",\n  \"text_on_image\": \"Unplug & Recharge\"\n}\n\n---\n\nIf the request is missing information:\nRespond in JSON like this:\n{\n  \"ready\": false,\n  \"message\": \"Happy to help! Could you let me know what you want the image to show? And if you'd like any specific text on it?\"\n}\n\nYour tone should be polite, concise, and professional — like a top-tier executive assistant.  \nDo not return anything except this JSON structure.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1260,
        -240
      ],
      "id": "1ec59c50-3e4d-462f-8c73-3b52057f34d5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "inputText": "={{ $json.messages[0].text.body }}",
        "categories": {
          "categories": [
            {
              "category": "image",
              "description": "The user is asking to generate an image or visual asset. This includes posters, graphics, social media images, thumbnails, or anything similar."
            },
            {
              "category": "chat",
              "description": "The user is simply having a conversation. This includes asking questions, general discussion, or anything that doesn't require an image to be generated"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: image or chat. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        820,
        60
      ],
      "id": "86a70af0-8cbd-45fd-9b96-757776438667",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        280
      ],
      "id": "e9615a6d-c920-47f2-afac-3ca08e9b9586",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "itjYnIC4vWwSt73F",
          "name": "Target Dial"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are a highly capable executive assistant. Your role is to respond to user messages in a conversational, concise, and professional manner.\n\nYou do not generate images. Instead, you provide thoughtful, helpful replies—answering questions, holding a conversation, or assisting as needed.\n\nKeep responses clear, direct, and friendly. Speak like a sharp, world-class concierge—engaged, respectful, and efficient.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1300,
        140
      ],
      "id": "d6b118ee-fb65-45d4-9922-92dad94e9313",
      "name": "Chat Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1160,
        360
      ],
      "id": "d7742f39-f0c5-43f4-ac78-1ae5a3134615",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "itjYnIC4vWwSt73F",
          "name": "Target Dial"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Text Classifier').item.json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1400,
        360
      ],
      "id": "5e6f19cc-cce0-41a4-acac-a90a4bd89007",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "632776769922157",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1660,
        140
      ],
      "id": "ce34ac3f-3dd0-4b74-b9ee-84fc94d6ae66",
      "name": "WhatsApp Business Cloud",
      "webhookId": "0ca8bd04-4883-4ce8-911f-503dd357e01f",
      "credentials": {
        "whatsAppApi": {
          "id": "ansaN9Zj9GmIVOzn",
          "name": "WA GHL 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"ready\": true,\n  \"image_description\": \"A cozy cabin in the snow with warm lights\",\n  \"text_on_image\": \"Unplug & Recharge\",\n  \"message\": \"optional follow-up message\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1520,
        -20
      ],
      "id": "0a8430cb-ca02-47e1-a9c7-fa6c0756f0fd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1180,
        -20
      ],
      "id": "9d94260b-5b4b-4a76-944c-07560358fb30",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "itjYnIC4vWwSt73F",
          "name": "Target Dial"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Text Classifier').item.json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1340,
        -20
      ],
      "id": "6b5576b4-ff3a-44fd-beda-808451df7619",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d24bafb-07d7-4abd-9375-d5e20a54cc0d",
              "leftValue": "={{ $json.output.ready }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1620,
        -240
      ],
      "id": "e23ae021-ff55-4888-aea1-4e97fe2a9adb",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "632776769922157",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1840,
        -140
      ],
      "id": "dce144ac-7c0e-4ccb-b2b8-e2399a89bbcd",
      "name": "WhatsApp Business Cloud1",
      "webhookId": "e47e9ec2-9608-49e0-9784-1f32d4022a7c",
      "credentials": {
        "whatsAppApi": {
          "id": "ansaN9Zj9GmIVOzn",
          "name": "WA GHL 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Image Description:  {{ $json.output.image_description }}\nText on Image: {{ $json.output.text_on_image }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1880,
        -460
      ],
      "id": "0a04b7d9-e4f9-4917-804d-0cf582c05ef9",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "itjYnIC4vWwSt73F",
          "name": "Target Dial"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "phoneNumberId": "632776769922157",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2060,
        -340
      ],
      "id": "7248c5e2-bd47-4483-9511-d6be4d74a506",
      "name": "WhatsApp Business Cloud2",
      "webhookId": "eb30c435-106d-45c7-908d-0ec870dab202",
      "credentials": {
        "whatsAppApi": {
          "id": "ansaN9Zj9GmIVOzn",
          "name": "WA GHL 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "phoneNumberId": "632776769922157",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "message": "=What do you think?",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2500,
        -340
      ],
      "id": "ed10d461-e7ca-49af-a10b-8ce772c67634",
      "name": "WhatsApp Business Cloud3",
      "webhookId": "5f7cf91a-dee0-4efb-875d-da940d1939c5",
      "credentials": {
        "whatsAppApi": {
          "id": "ansaN9Zj9GmIVOzn",
          "name": "WA GHL 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer API KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('WhatsApp Trigger').item.json.messages[0].from }}\",\n  \"type\": \"image\",\n  \"image\": {\n    \"id\": \"{{ $json.id }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2280,
        -340
      ],
      "id": "8c7a1bfe-5d37-4947-93b2-890a1f0ce6cf",
      "name": "Send Image",
      "credentials": {
        "whatsAppApi": {
          "id": "ansaN9Zj9GmIVOzn",
          "name": "WA GHL 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92313210-d812-4c96-942e-9cc0d47ef718",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2720,
        -340
      ],
      "id": "23c32a3a-0d55-4212-b107-e94f33e5347f",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "632776769922157",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "Sure, what would you like to change?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3020,
        -200
      ],
      "id": "ea48c4d5-7d4a-4f03-94cf-5deaed858af4",
      "name": "Rejected",
      "webhookId": "eaa52b16-675f-4978-acf7-30f831c5b19e",
      "credentials": {
        "whatsAppApi": {
          "id": "ansaN9Zj9GmIVOzn",
          "name": "WA GHL 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        4080,
        1300
      ],
      "id": "8abbd81e-9e81-4f27-bab9-5224f7d29148",
      "name": "When chat message received",
      "webhookId": "64f99e58-7d8c-4ea3-9107-9eb1aab35978"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2900,
        -440
      ],
      "id": "f30f3d04-6a8a-4da4-9ac8-4fbd0db6409d",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/social-media-posting/RsRYPDcHIGXOSTP7o8pC/accounts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-b7bfb6db-7f1c-4b83-a6b4-8cab985d9750"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        1120
      ],
      "id": "3e4a675d-0728-4a3e-8003-2bf120dda17d",
      "name": "Get Social Accounts"
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/users/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "RsRYPDcHIGXOSTP7o8pC"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-b7bfb6db-7f1c-4b83-a6b4-8cab985d9750"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        1300
      ],
      "id": "3b6c266c-679f-41b5-9f5d-aff4c2d534c0",
      "name": "Get User ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/LOCATIONID/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer API KEY"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\"ACCOUNTID\"],\n  \"summary\": \"{{ $json.message.content.caption }}\",\n  \"media\": [\n    {\n      \"url\": \"{{ $('Upload Image to IMGUR').item.json.data.link }}\",\n      \"caption\": \"AI-powered creative\",\n      \"type\": \"image/jpeg\"\n    }\n  ],\n  \"status\": \"draft\",\n  \"type\": \"post\",\n  \"userId\": \"USERID\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3720,
        -440
      ],
      "id": "1531f0a1-99dc-4e86-a19b-ab5d8b2e71c1",
      "name": "Upload Post To GHL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgur.com/3/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Client-ID API KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        -440
      ],
      "id": "d0d30b33-ef2a-4aae-bd99-3054adb495cd",
      "name": "Upload Image to IMGUR"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=Generate a creative caption for an instagram image.",
              "role": "system"
            },
            {
              "content": "=This was the user's request to generate as an image: {{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3360,
        -440
      ],
      "id": "ef84aa51-23c4-4071-a42c-93f97c4622c2",
      "name": "Caption Generator",
      "credentials": {
        "openAiApi": {
          "id": "itjYnIC4vWwSt73F",
          "name": "Target Dial"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbc78251-a5f3-43c5-8691-b186c08622d2",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        520,
        60
      ],
      "id": "d192c472-b76d-48c1-a06f-104fbf502d46",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Chat Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud2": {
      "main": [
        [
          {
            "node": "Send Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Image": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload Image to IMGUR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Post To GHL": {
      "main": [
        []
      ]
    },
    "Upload Image to IMGUR": {
      "main": [
        [
          {
            "node": "Caption Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Caption Generator": {
      "main": [
        [
          {
            "node": "Upload Post To GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1da22f4a-3118-4cdc-9782-787a6c565f54",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04e89ce3285328290b5956f78e6f18b87faec46176dbefad741c0b1c7e036c20"
  },
  "id": "6bfZZUydM9TDpKZs",
  "tags": []
}