workflows/highlevel-guest-intake.json
{
  "name": "HighLevel Guest Intake → Supabase",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "highlevel-guest-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - HighLevel Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "highlevel-guest-intake"
    },
    {
      "parameters": {
        "functionCode": "// Extract form data from HighLevel webhook\nconst body = $input.item.json.body;\n\n// Parse topics array (comes as comma-separated or array)\nlet topics = body.custom_field_topics || [];\nif (typeof topics === 'string') {\n  topics = topics.split(',').map(t => t.trim());\n}\n\n// Parse portfolio URLs\nlet portfolioUrls = body.custom_field_portfolio || [];\nif (typeof portfolioUrls === 'string') {\n  portfolioUrls = portfolioUrls.split(',').map(u => u.trim());\n}\n\nreturn {\n  json: {\n    // Guest info\n    guest_name: body.full_name || body.name,\n    guest_email: body.email,\n    guest_phone: body.phone,\n    artist_title: body.custom_field_artist_title,\n    tattoo_style: body.custom_field_tattoo_style,\n    location: body.custom_field_location,\n    instagram: body.custom_field_instagram,\n    website: body.custom_field_website,\n    bio: body.custom_field_bio || body.bio,\n    \n    // Discussion topics\n    discussion_topics: topics,\n    custom_topics: body.custom_field_custom_topics,\n    \n    // Preferences\n    preferred_date: body.custom_field_preferred_date,\n    booking_preference: body.custom_field_booking_pref,\n    \n    // Portfolio\n    portfolio_urls: portfolioUrls,\n    \n    // HighLevel metadata\n    highlevel_contact_id: body.contact_id || body.id,\n    highlevel_location_id: body.location_id,\n    \n    // Timestamp\n    submitted_at: new Date().toISOString()\n  }\n};"
      },
      "name": "Extract Form Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// Download and process portfolio images\nconst portfolioUrls = $json.portfolio_urls;\nconst processedImages = [];\n\nfor (let i = 0; i < portfolioUrls.length; i++) {\n  const imageUrl = portfolioUrls[i];\n  \n  // Skip empty URLs\n  if (!imageUrl || imageUrl.trim() === '') continue;\n  \n  try {\n    // Download image\n    const response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: imageUrl,\n      encoding: 'arraybuffer',\n      returnFullResponse: true\n    });\n    \n    // Get file extension from URL or content-type\n    let extension = 'jpg';\n    const urlExt = imageUrl.split('.').pop().split('?')[0];\n    if (['jpg', 'jpeg', 'png', 'webp'].includes(urlExt.toLowerCase())) {\n      extension = urlExt.toLowerCase();\n    }\n    \n    const contentType = response.headers['content-type'];\n    if (contentType && contentType.includes('png')) extension = 'png';\n    if (contentType && contentType.includes('webp')) extension = 'webp';\n    \n    // Store image data for next node\n    processedImages.push({\n      data: Buffer.from(response.body).toString('base64'),\n      filename: `${$json.guest_name.toLowerCase().replace(/\\s+/g, '-')}-${i + 1}.${extension}`,\n      contentType: contentType || 'image/jpeg',\n      originalUrl: imageUrl\n    });\n  } catch (error) {\n    console.error(`Failed to download image ${imageUrl}:`, error.message);\n  }\n}\n\nreturn {\n  json: {\n    ...$json,\n    processed_images: processedImages,\n    image_count: processedImages.length\n  }\n};"
      },
      "name": "Download Portfolio Images",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex"
      },
      "name": "Loop Over Images",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "https://api.cloudinary.com/v1_1/{{ $env.CLOUDINARY_CLOUD_NAME }}/image/upload",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "data:{{ $json.processed_images[$index].contentType }};base64,{{ $json.processed_images[$index].data }}"
            },
            {
              "name": "upload_preset",
              "value": "tattoonow_portfolio"
            },
            {
              "name": "folder",
              "value": "guests/{{ $json.guest_name }}"
            },
            {
              "name": "public_id",
              "value": "{{ $json.processed_images[$index].filename }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1000
            }
          }
        }
      },
      "name": "Upload to Cloudinary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cloudinary",
          "name": "Cloudinary API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Aggregate uploaded image URLs\nconst items = $input.all();\nconst portfolioImages = [];\n\nitems.forEach((item, index) => {\n  if (item.json.secure_url) {\n    portfolioImages.push({\n      url: item.json.secure_url,\n      public_id: item.json.public_id,\n      width: item.json.width,\n      height: item.json.height,\n      format: item.json.format,\n      description: ''\n    });\n  }\n});\n\n// Get original data from first item\nconst originalData = items[0].json;\n\nreturn {\n  json: {\n    guest_name: originalData.guest_name,\n    guest_email: originalData.guest_email,\n    guest_phone: originalData.guest_phone,\n    artist_title: originalData.artist_title,\n    tattoo_style: originalData.tattoo_style,\n    location: originalData.location,\n    instagram: originalData.instagram,\n    website: originalData.website,\n    bio: originalData.bio,\n    discussion_topics: originalData.discussion_topics,\n    custom_topics: originalData.custom_topics,\n    preferred_date: originalData.preferred_date,\n    booking_preference: originalData.booking_preference,\n    highlevel_contact_id: originalData.highlevel_contact_id,\n    portfolio_images: portfolioImages\n  }\n};"
      },
      "name": "Aggregate Images",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $env.VITE_SUPABASE_URL }}/rest/v1/guests",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.guest_name }}\",\n  \"bio\": \"{{ $json.bio }}\",\n  \"title\": \"{{ $json.artist_title }}\",\n  \"style\": \"{{ $json.tattoo_style }}\",\n  \"location\": \"{{ $json.location }}\",\n  \"instagram\": \"{{ $json.instagram }}\",\n  \"website\": \"{{ $json.website }}\",\n  \"email\": \"{{ $json.guest_email }}\",\n  \"phone\": \"{{ $json.guest_phone }}\",\n  \"portfolio_images\": {{ JSON.stringify($json.portfolio_images) }},\n  \"highlevel_contact_id\": \"{{ $json.highlevel_contact_id }}\"\n}",
        "options": {}
      },
      "name": "Insert Guest into Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.preferred_date }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Preferred Date?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $env.VITE_SUPABASE_URL }}/rest/v1/episodes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"Interview with {{ $json.guest_name }}\",\n  \"air_date\": \"{{ $json.preferred_date }}T19:00:00Z\",\n  \"host\": \"Ryan Pierce\",\n  \"status\": \"draft\",\n  \"episode_number\": {{ Math.floor(Date.now() / 1000) }}\n}",
        "options": {}
      },
      "name": "Create Episode Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "fromEmail": "TattooNOW Weekly <hello@tattoonow.com>",
        "toEmail": "={{ $json.guest_email }}",
        "subject": "Welcome to TattooNOW Weekly Show!",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #FF6B35 0%, #FF8C42 100%); color: white; padding: 30px; text-align: center; border-radius: 8px 8px 0 0; }\n    .content { background: white; padding: 30px; border: 1px solid #ddd; border-top: none; }\n    .topics { background: #f5f5f5; padding: 15px; border-left: 4px solid #FF6B35; margin: 20px 0; }\n    .footer { text-align: center; padding: 20px; color: #666; font-size: 14px; }\n    .cta { display: inline-block; background: #FF6B35; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🎨 Welcome to TattooNOW Weekly!</h1>\n    </div>\n    <div class=\"content\">\n      <p>Hi {{ $json.guest_name }},</p>\n      \n      <p>Thank you for submitting your guest application! We're excited to learn more about your work in <strong>{{ $json.tattoo_style }}</strong>.</p>\n      \n      <p><strong>What happens next?</strong></p>\n      <ul>\n        <li>Our team will review your portfolio ({{ $json.portfolio_images.length }} images received)</li>\n        <li>We'll reach out within 3-5 business days</li>\n        <li>If selected, we'll schedule your episode and create custom graphics</li>\n      </ul>\n      \n      <div class=\"topics\">\n        <strong>Topics you selected:</strong><br>\n        {{ $json.discussion_topics.join(', ') }}\n      </div>\n      \n      <p>In the meantime, check out previous episodes and follow us on social:</p>\n      <ul>\n        <li>YouTube: <a href=\"https://youtube.com/@tattoonow\">@tattoonow</a></li>\n        <li>Instagram: <a href=\"https://instagram.com/tattoonow\">@tattoonow</a></li>\n      </ul>\n      \n      <center>\n        <a href=\"https://tattoonow.com/episodes\" class=\"cta\">Watch Previous Episodes</a>\n      </center>\n      \n      <p>Looking forward to connecting!</p>\n      <p><strong>Ryan Pierce & the TattooNOW Team</strong></p>\n    </div>\n    <div class=\"footer\">\n      <p>TattooNOW Weekly | Empowering Tattoo Artists to Thrive</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1850, 400]
    },
    {
      "parameters": {
        "channel": "show-bookings",
        "text": "=🎨 **New Guest Application!**\\n\\n*Name:* {{ $json.guest_name }}\\n*Style:* {{ $json.tattoo_style }}\\n*Location:* {{ $json.location }}\\n*Instagram:* @{{ $json.instagram }}\\n\\n*Topics:* {{ $json.discussion_topics.join(', ') }}\\n\\n*Portfolio:* {{ $json.portfolio_images.length }} images uploaded\\n\\n*Review:* <https://app.supabase.com|Supabase Dashboard>",
        "otherOptions": {}
      },
      "name": "Notify Team via Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1850, 600],
      "credentials": {
        "slackApi": {
          "id": "slack",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Guest application received!\",\n  \"guest_id\": \"{{ $json[0].id }}\",\n  \"guest_name\": \"{{ $json.guest_name }}\"\n}",
        "options": {}
      },
      "name": "Respond to HighLevel",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 400]
    }
  ],
  "connections": {
    "Webhook - HighLevel Form": {
      "main": [
        [
          {
            "node": "Extract Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Form Data": {
      "main": [
        [
          {
            "node": "Download Portfolio Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Portfolio Images": {
      "main": [
        [
          {
            "node": "Loop Over Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Images": {
      "main": [
        [
          {
            "node": "Upload to Cloudinary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Cloudinary": {
      "main": [
        [
          {
            "node": "Loop Over Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Images": {
      "main": [
        [
          {
            "node": "Insert Guest into Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Guest into Supabase": {
      "main": [
        [
          {
            "node": "Has Preferred Date?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Preferred Date?": {
      "main": [
        [
          {
            "node": "Create Episode Draft",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Episode Draft": {
      "main": [
        [
          {
            "node": "Notify Team via Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Notify Team via Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Team via Slack": {
      "main": [
        [
          {
            "node": "Respond to HighLevel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "highlevel-guest-intake"
}
