workflows/rss-blog-to-segments.json
{
  "name": "TattooNOW Blog RSS → Education Segments",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1
            }
          ]
        }
      },
      "name": "Schedule - Daily at 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.TATTOONOW_BLOG_RSS_URL || 'https://tattoonow.com/blog/feed' }}",
        "options": {}
      },
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// Filter for new posts (published in last 7 days)\nconst items = $input.all();\nconst sevenDaysAgo = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);\n\nconst newPosts = items.filter(item => {\n  const pubDate = new Date(item.json.pubDate || item.json.isoDate);\n  return pubDate > sevenDaysAgo;\n});\n\nreturn newPosts.map(item => ({\n  json: {\n    title: item.json.title,\n    link: item.json.link,\n    description: item.json.contentSnippet || item.json.description,\n    content: item.json.content,\n    pubDate: item.json.pubDate,\n    categories: item.json.categories || [],\n    author: item.json.creator || item.json.author\n  }\n}));"
      },
      "name": "Filter New Posts",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "=Extract key teaching points from this blog post and format as education slides for TattooNOW Weekly Show.\\n\\nBlog Post Title: {{ $json.title }}\\nContent: {{ $json.content }}\\n\\nFormat as JSON with this structure:\\n{\\n  \\\"slides\\\": [\\n    {\\n      \\\"title\\\": \\\"Main Teaching Point\\\",\\n      \\\"keyPoints\\\": [\\\"Point 1\\\", \\\"Point 2\\\", \\\"Point 3\\\"],\\n      \\\"stats\\\": [{\\\"value\\\": \\\"80%\\\", \\\"label\\\": \\\"Description\\\"}],\\n      \\\"layout\\\": \\\"key-points\\\"\\n    }\\n  ]\\n}\\n\\nCreate 2-4 slides maximum. Focus on actionable insights for tattoo artists.",
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "name": "AI - Extract Slides (OpenAI)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Parse AI response and prepare segment data\nlet slidesData;\ntry {\n  // Extract JSON from AI response\n  const responseText = $json.choices[0].message.content;\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  \n  if (jsonMatch) {\n    slidesData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found in AI response');\n  }\n} catch (error) {\n  console.error('Failed to parse AI response:', error);\n  // Fallback: create basic slide from blog post\n  slidesData = {\n    slides: [\n      {\n        title: $json.title,\n        keyPoints: [\n          'Read the full article',\n          'Visit TattooNOW.com/blog',\n          'Share your thoughts in the comments'\n        ],\n        layout: 'key-points'\n      }\n    ]\n  };\n}\n\nreturn {\n  json: {\n    blog_title: $json.title,\n    blog_url: $json.link,\n    blog_author: $json.author,\n    blog_categories: $json.categories,\n    slides: slidesData.slides,\n    segment_type: 'education',\n    created_from: 'rss_feed'\n  }\n};"
      },
      "name": "Parse AI Slides",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "={{ $env.VITE_SUPABASE_URL }}/rest/v1/episodes?status=eq.draft&order=air_date.asc&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Next Draft Episode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Draft Episode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $env.VITE_SUPABASE_URL }}/rest/v1/segments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"episode_id\": \"{{ $json[0][0].id }}\",\n  \"segment_number\": 2,\n  \"segment_type\": \"education\",\n  \"slides\": {{ JSON.stringify($json.slides) }}\n}",
        "options": {}
      },
      "name": "Create Education Segment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "channel": "content-team",
        "text": "=📚 **New Blog Post → Education Segment Created!**\\n\\n*Blog Post:* {{ $json.blog_title }}\\n*Author:* {{ $json.blog_author }}\\n*Link:* {{ $json.blog_url }}\\n\\n*Slides Generated:* {{ $json.slides.length }} slides\\n*Added to:* Next draft episode\\n\\n*Preview first slide:*\\n> {{ $json.slides[0].title }}\\n> • {{ $json.slides[0].keyPoints.join('\\\\n> • ') }}",
        "otherOptions": {}
      },
      "name": "Notify Content Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1850, 200],
      "credentials": {
        "slackApi": {
          "id": "slack",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Schedule - Daily at 9AM": {
      "main": [
        [
          {
            "node": "Fetch RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Feed": {
      "main": [
        [
          {
            "node": "Filter New Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Posts": {
      "main": [
        [
          {
            "node": "AI - Extract Slides (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Extract Slides (OpenAI)": {
      "main": [
        [
          {
            "node": "Parse AI Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Slides": {
      "main": [
        [
          {
            "node": "Get Next Draft Episode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Next Draft Episode": {
      "main": [
        [
          {
            "node": "Has Draft Episode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Draft Episode?": {
      "main": [
        [
          {
            "node": "Create Education Segment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Education Segment": {
      "main": [
        [
          {
            "node": "Notify Content Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "rss-blog-to-segments"
}
